@import "./variables";

.header {
  width: 100%;
  height: 100%;
  min-height: 620px;
  background-color: $VeryLightGray;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: $White;
  position: relative;

  .logo {
    position: absolute;
    width: 139px;
    height: 20px;
    left: 165px;
    top: 33px;
  }

  .links {
    position: absolute;
    width: 331px;
    height: 17px;
    left: 555px;
    top: 32px;
    display: flex;

    li {
      list-style: none;
      padding-left: 20px;
    }

    a {
      text-decoration: none;
      color: $GrayishBlue;
    }

    .link:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 15px;
      text-decoration-color: $LimeGreen;

      cursor: pointer;
    }
  }

  .toggle-button {
    width: 25px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    .bar {
      width: 100%;
      height: 2px;
      background-color: $DarkBlue;
      border-radius: 10px;
      opacity: 0.5;
    }
  }

  .mobile-links {
    display: none;
  }

  .request {
    position: absolute;
    left: 1112px;
    top: 18px;
  }
}

.header-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .header-text {
    width: 60%;
    height: 100%;
    max-height: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;

    h1 {
      color: $DarkBlue;
      font-size: 56px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    p {
      color: $GrayishBlue;
      font-weight: 400;
      margin-bottom: 30px;
    }
  }

  .header-picture {
    width: 100%;
    height: 100%;
    max-height: 500px;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0 -200px;
    background-size: 150%;

    .mockups {
      width: 100%;
      height: 155%;
      margin-top: -110px;
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 100%;

    .logo {
      left: 30px;
    }

    .toggle-button {
      display: flex;
    }

    .links {
      display: none;
    }

    button {
      display: none;
    }
  }

  .mobile-links {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 327px;
    min-height: 265px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 90px;
    left: 30px;

    background-color: $White;

    li {
      list-style: none;
      margin-top: 10px;
      padding: 10px;
    }

    a {
      color: $DarkBlue;
      text-decoration: none;
    }
  }

  .mobile-links.active {
    display: block !important;
  }

  .header-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    .header-text {
      width: 100%;
      height: 100%;
      max-width: 327px;
      min-height: 261px !important;
      margin-top: 50px;
      margin-bottom: 90px;
      text-align: center;

      h1 {
        font-size: 40px;
      }

      button {
        margin-left: 80px;
      }
    }

    .header-picture {
      background-image: url(../images/bg-intro-mobile.svg) !important;
      background-size: cover;
      background-position: 0 -50px;

      .mockups {
        width: 100%;
        height: 100%;
        margin-top: -135px;
      }
    }
  }
}
